## Commented options use a safe default, custom values MAY be set, other options MUST be set

## = Feature flags
## set to True to enable each feature

# APP_ENABLE_SENTRY=True
# APP_ENABLE_CORS=True
# APP_ENABLE_REQUEST_ID=True

## = Application settings

# FLASK_ENV=production

## Identifier for application in Sentry error tracking
SENTRY_DSN=xxx
